<html>
    <head>
        <title>Contact</title>
    </head>
    <body>
        <form action="\data" method="POST">
            <input type="text" name='preg' placeholder="preg" required='required' />
            <input type="text" name='plas' placeholder="plas" required='required' />
            <input type="text" name='pres' placeholder="pres" required='required' />
            <input type="text" name='skin' placeholder="skin" required='required' />
            <input type="text" name='test' placeholder="test" required='required' />
            <input type="text" name='mass' placeholder="mass" required='required' />
            <input type="text" name='pedi' placeholder="pedi" required='required' />
            <input type="text" name='age' placeholder="age" required='required' />
            <button type="submit">Submit</button>
        </form>

    </body>
</html>